# This is the CODEOWNERS file for 8.0 branch
# For more info about CODEOWNERS, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Rules below

# 8.0 release manager is added to any PRs that change file(s) in 8.0 branch
* @spraza
