---
Checks: >
  -*,
  bugprone-dangling-handle,
  bugprone-implicit-widening-of-multiplication-result,
  bugprone-inaccurate-erase,
  bugprone-misplaced-widening-cast,
  bugprone-move-forwarding-reference,
  bugprone-redundant-branch-condition,
  bugprone-return-const-ref-from-parameter,
  bugprone-shared-ptr-array-mismatch,
  bugprone-sizeof-container,
  bugprone-sizeof-expression,
  bugprone-string-constructor,
  bugprone-string-integer-assignment,
  bugprone-stringview-nullptr,
  bugprone-suspicious-memory-comparison,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-semicolon,
  bugprone-suspicious-string-compare,
  bugprone-suspicious-stringview-data-usage,
  bugprone-too-small-loop-variable,
  bugprone-undefined-memory-manipulation,
  bugprone-unique-ptr-array-mismatch,
  bugprone-use-after-move,
  cppcoreguidelines-avoid-capturing-lambda-coroutines,
  misc-coroutine-hostile-raii,
  misc-redundant-expression,
  modernize-use-auto,
  modernize-use-equals-default,
  modernize-use-override,
  modernize-use-using,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-move-const-arg,
  performance-move-constructor-init,
  readability-braces-around-statements,
  readability-container-contains,
  readability-const-return-type,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-inconsistent-ifelse-braces
CheckOptions:
  - key: bugprone-dangling-handle.HandleClasses
    value: 'std::basic_string_view;std::experimental::basic_string_view;std::span;StringRef'
  - key: misc-coroutine-hostile-raii.RAIITypesList
    value: 'std::lock_guard;std::scoped_lock;MutexHolder;ThreadSpinLockHolder'
  - key: modernize-use-auto.MinTypeNameLength
    value: '11'
  - key: readability-braces-around-statements.ShortStatementLines
    value: '3'
...
