# Build artifacts
/my_build/
/bin/
/lib/
/packages/
bindings/flow/bin/
bindings/java/foundationdb-client*.jar
bindings/java/foundationdb-tests*.jar
bindings/java/fdb-java-*-sources.jar
packaging/msi/FDBInstaller.msi
build/
cmake-build-*/

# Generated source, build, and packaging files
*.g.cpp
*.g.h
*.g.S
*.g.asm
*.pom
bindings/java/pom*.xml
bindings/java/src*/main/overview.html
bindings/java/src*/main/com/apple/foundationdb/NetworkOptions.java
bindings/java/src*/main/com/apple/foundationdb/DatabaseOptions.java
bindings/java/src*/main/com/apple/foundationdb/TransactionOptions.java
bindings/java/src*/main/com/apple/foundationdb/StreamingMode.java
bindings/java/src*/main/com/apple/foundationdb/MutationType.java
bindings/java/src*/main/com/apple/foundationdb/ConflictRangeType.java
bindings/java/src*/main/com/apple/foundationdb/FDBException.java
bindings/python/fdb/fdb*options.py
bindings/python/dist/
bindings/python/setup.py
bindings/python/MANIFEST
bindings/ruby/lib/fdboptions.rb
bindings/ruby/fdb.gemspec
fdbclient/vexillographer/obj/
fdbrpc/hgVersion*.h
fdbrpc/SourceVersion*.h
fdbrpc/libeio/config.h
flow/hgVersion*.h
flow/SourceVersion*.h
generated.mk
versions.h
packaging/msi/FDBInstaller.wix*

# Intermediate build artifacts and dependencies
*.class
*.py[cod]
*.sass-cache
.ccache
.deps/
.objs/
.cmds/
bindings/c/fdb_c.symbols
bindings/go/build
bindings/go/godoc
bindings/java/.classstamp*
bindings/java/classes*/
bindings/java/javadoc*/
packaging/docker/website

# Testing and logging
packaging/msi/*.log
packaging/msi/obj
simfdb
tests/oldBinaries
trace.*.xml
trace.*.json
.venv

# Editor files
*.iml
*.opensdf
*.sdf
*.suo
*.user
.idea/
.project
.projectile
.dir-locals.el
.pydevproject
.vscode
.vs/
FoundationDB.xcodeproj
foundationdb.VC.db
foundationdb.VC.VC.opendb
ipch/
compile_commands.json
flow/actorcompiler/obj
flow/coveragetool/obj
*.code-workspace

# IDE indexing (commonly used tools)
/compile_commands.json
/.ccls-cache
/.clangd
/.cache
TAGS

# Temporary and user configuration files
*~
*.orig
*.rej
*.swp
.envrc
.DS_Store
temp/
/versions.target
/compile_commands.json
/.ccls-cache
.clangd/
.stignore
