# This file maps author names and email addresses to canonical identities
# Format: Preferred Name <preferred@email> [Commit Name <commit@email>]
# See git-shortlog(1) for more information
#
# Single entries establish the canonical identity for a contributor

A.J. Beamon <aj.beamon@snowflake.com> <ajbeamon@apple.com>
Alex Miller <alex.r.miller@snowflake.com> <alexander_r_miller@apple.com> <alexmiller@apple.com> <millerdevel@gmail.com>
Evan Tschannen <evan.tschannen@snowflake.com> <ejt@apple.com>
Jingyu Zhou <jingyu_zhou@apple.com> <jingyuzhou@gmail.com>
Steve Atherton <steve.atherton@snowflake.com> <stevea@apple.com> <steve.atherton@gmail.com> <s_atherton@apple.com>
Trevor Clinkenbeard <tclinkenbeard@openai.com> <trevor.clinkenbeard@snowflake.com>
