<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Version>4.7.0</Version>
    <PackageName>4.7</PackageName>
  </PropertyGroup>
</Project>
