<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Version>5.2.5</Version>
    <PackageName>5.2</PackageName>
  </PropertyGroup>
</Project>
