[pycodestyle]
max-line-length = 130
exclude = fdboptions.py
ignore = E203, E266, E402, W503, E711, E721
# E203 whitespace before ':'
# E266 too many leading '#' for block comment
# E402 module level import not at top of file
# E503 line break before binary operator
# E711 comparison to None should be 'if cond is None:'
# E721 do not compare types, for exact checks use `is` / `is not`, for instance checks use `isinstance()`
