[MESSAGES CONTROL]

disable = trailing-whitespace,    # In copyrights
          invalid-name,           # Short variables like 'v'
          unused-wildcard-import, # For 'from ... import ...'
          fixme,                  # TODO/FIXME
          unspecified-encoding,   # Rely on default UTF-8
          unused-argument,        # Intentional
          too-many-locals, too-many-branches, too-many-boolean-expressions, too-many-statements,
          too-few-public-methods,

[FORMAT]

indent-string = '  '
indent-after-paren = 2

[IMPORT]

allow-wildcard-with-all = yes

[TYPECHECK]

disable = bad-option-value  # C0209 is unsupported in older versions
