[Unit]
Description=FoundationDB Key-Value Store
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/var/run/fdbmonitor.pid
ExecStart=/usr/lib/foundationdb/fdbmonitor --conffile /etc/foundationdb/foundationdb.conf --lockfile /var/run/fdbmonitor.pid --daemonize
KillMode=process

[Install]
WantedBy=multi-user.target
