name: Prometheus E2E Test

on:
  workflow_dispatch:
  push:
    branches: [ "main", "master", "feature/prometheus-metrics-endpoint" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test-simulation:
    runs-on: ubuntu-latest
    container:
      image: foundationdb/build:rockylinux9-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
            dnf install -y 'dnf-command(config-manager)'
            dnf config-manager --set-enabled crb
            dnf install -y epel-release
            dnf install -y git cmake ninja-build gcc-c++ 

      - name: Configure CMake
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DOLD_FDB_alloc_instrumentation=ON ..

      - name: Build fdbserver
        run: |
          cd build
          ninja fdbserver

      - name: Run Prometheus Simulation Test
        run: |
          cd build
          ./bin/fdbserver -r simulation -f ../tests/fast/PrometheusMetrics.toml -b on
